* {
    padding: 0px;
    margin: 0px;
}
html {
    height: 100%;
}
/*Fonts===========================================================*/
@font-face {
    font-family: "stylish";
    src: url("fonts/font_1/Bungee_Shade/BungeeShade-Regular.ttf");
}
@font-face {
    font-family: "game-name";
    src: url('fonts/Bungee_Spice/BungeeSpice-Regular.ttf');
}
/*body pages======================================================*/
.main_page {
    background-image: url("images/bg.jpeg");
    background-size: cover;
    display: grid;
    grid-template-rows: 25% 75%;
    justify-items: center;
    align-items: center;
    height: 100%;
    font-family: stylish;
}
.game_page {
    background-image: url("images/bg.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: stylish;
}
/*Main Page =======================================================*/
#m_intro {
    font-size: calc(3rem + 2vw);
    color: black;
    background-image: linear-gradient(0deg, red, purple, black);
    background-clip: text;
    color: transparent;
}
#m_option_con {
    font-size: calc(1.5rem + 1vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(18, 148, 83);
}
#m_game_name {
    font-size: calc(3rem + 3vw);
    background-image: linear-gradient(0deg, rgb(255, 64, 0), rgb(255, 213, 0));
    background-clip: text;
    color: transparent;
}
/*Options =========================================================*/
.m_option {
    position: relative;
    transition-duration: 0.6s;
    cursor: pointer;
}
.m_option::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
    left: calc(-40px - 2vw);
    top: 10px;
    background-color: white;
    transition-duration: 0.6s;
}
.m_option:hover::before {
    left: calc(-30px - 1vw);
}
.m_option:active {
    top: 10px;
}

/*game box=====================================================*/
#gameBox {
    position: relative;
    width: 680px;
    height: 650px;
    border: 1px solid black;
    background-image: url(images/game_board.jpg);
    background-size: 550px 550px;
    background-repeat: no-repeat;
    background-position: center;
}
/*Rotation Boxs=================================================*/
/*box one ===================*/
#rotationBox0 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 3px;
}
@keyframes animationBox0 {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}
#rotationBox0::after {
    content: 'player 1';
    position: absolute;
    text-align: center;
    top: 78px;
    background-color: red;
}
/*box two =========================*/
#rotationBox1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    left: 600px;
    top: 0px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 3px;
}
#rotationBox1::after {
    content: 'player 2';
    position: absolute;
    top: 78px;
    text-align: center;
    background-color: green;

}
@keyframes animationBox1 {
    0% {
        background-color: white;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: white;
    }
}
/*box three =======================*/
#rotationBox2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    top: 570px;
    left: 600px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 3px;
}
#rotationBox2::after {
    content: 'player 3';
    position: absolute;
    top: -42px;
    text-align: center;
    background-color: yellow;
}
@keyframes animationBox2 {
    0% {
        background-color: white;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: white;
    }
}
/*box four =======================*/
#rotationBox3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    top: 570px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 3px;
}
#rotationBox3::after {
    content: 'player 4';
    position: absolute;
    top: -42px;
    text-align: center;
    background-color: blue;
}
@keyframes animationBox3 {
    0% {
        background-color: white;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: white;
    }
}

/*dice and dot ==================================================*/
.dice {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}
.dot {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: black;
}
/*Entity =========================================================*/
.entityClass {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    left: 100px;
    background-color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
.entityClass1 {
    background-image: radial-gradient(red 3.75px,white 7.25px, red 8.85px, red 11.5px, black 12px);
}
.entityClass2 {
    background-image: radial-gradient(green 3.75px,white 7.25px, green 8.85px, green 11.5px, black 12px);
}
.entityClass3 {
    background-image: radial-gradient(yellow 3.75px,white 7.25px, yellow 8.85px,yellow 11.5px, black 12px);
}
.entityClass4 {
    background-image: radial-gradient(blue 3.75px,white 7.25px, blue  8.85px, blue 11.5px, black 12px);
}

@keyframes entity_animation {
    0% {
        box-shadow: 0px 0px 0px black;
    }
    50% {
        box-shadow: 0px 0px 30px black;
    }
    100% {
        box-shadow: 0px 0px 0px black;
    }
}